/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.xittoofood{
    font-weight: bolder;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: thin;
}

.AddRes{
    font-weight: bolder;
}


/* Home  */
.slidebar{
    overflow-x: scroll;
    scrollbar-width: none;
}
.question {
    font-size: 55px;
    font-family: 'Righteous', sans-serif;
  }
  
.popularitem {
    font-family: 'Righteous', sans-serif;
}

.HomefoodName {
    font-family: 'Righteous', sans-serif;
}
.OfferTime {
    font-family: 'Righteous', sans-serif;
}
.AboutDes{
    font-family: 'righteous',sans-serif;
}


/* restaurant view */

.restaurantName{
    font-weight: bolder;
}

.foodstyle{
    font-weight: bold;
}



/* menu */
.totalamount{
    font-weight: 500;
}