/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.xittoofood{
    font-weight: bolder;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: thin;
}

.AddRes{
    font-weight: bolder;
}
/* Home  */
.slidebar{
    overflow-x: scroll;
    scrollbar-width: none;
}
.question {
    font-size: 55px;
    font-family: 'Righteous', sans-serif;
  }
  
.popularitem {
    font-family: 'Righteous', sans-serif;
}
.categories-intro{
    font-family: 'Righteous', sans-serif;
}

.todayspecial-intro{
    font-family: 'Righteous', sans-serif;
}
.HomefoodName {
    font-family: 'Righteous', sans-serif;
}
.OfferTime {
    font-family: 'Righteous', sans-serif;
}
.About-us-head{
    font-family: 'Righteous',sans-serif;
}
.special-remaining{
    font-family: 'Righteous', sans-serif;
}
.categories-name{
    
    font-family: 'Righteous', sans-serif;
}

.alltime-open-intro{
    font-family: 'Righteous', sans-serif;
}
.formobileview{
    display: none;
}
/* restaurant view */
.restaurantName{
    font-weight: bolder;
}

/* menu */
.totalamount{
    font-weight: 500;
}

/* responsive  */

@media (max-width: 768px) {
    .header-all{
        height: 60px;
        margin: 0;
        padding: 10px 10px;
    }
    .xittoLogo{
        position: relative;
        height: 35px;
        width: 35px;
    }
    .xittoofood{
        font-size: 24px;
        margin-left: -10px;
        margin-top: 5px;
    }
    .icon-button{
        display: flex;
        gap: 12px;
        justify-content: end;
    }
    .AddRes{
        display: none;
    }
    .profile-icon{
        margin-right: 0;
    }
    .allsection{
        display: flex;
        gap: 0;
    }
    .description{
        display: none;
    }

    .logosection{
        display: flex;
    }

    /* homepage */
    .search-food{
        margin-left: 0;
        position: relative;
        margin-top: 50px;
    }
    .question{
        font-size: 32px;
        margin-top: 40px;
    }
    .search-box{
        gap: 7px;
        width: 335px;
        height: 120px;
        display: flex;
        margin-top: 40px;
    }
    .location-box{
        width: 100px;
        height: 45px;
        padding-left: -5px;
    }
    .resSearch-box{
        width: 200px;
    }
    .search-button{
        margin-top: -50px;
        width: 300px;
    }
    .home-img{
        margin-top: -70px;
        width: 100%;
        height: 100%;
    }

    /* top categoris */
    .categories{
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 30px;
        padding-left: 20px;
    }
    .categories-intro{
        font-family: 'Righteous', sans-serif;
        font-size: 20px;
        margin-left: 20px;
    }
    .categories-item{
        margin: 0;
        width: 350px;
        gap: 20px;
        margin-top: 30px;
    }
    .leftsidebar{
        margin: 0;
        margin-top: 30px;
        height: 25px;
        width: 10px;
    }
    .top-categories{
        height: 100px;
        min-width: 120px;
    }
    .categories-list{
        gap: 15px;
    }
    .img-categories{
        height: 60px;
        width: 60px;
    }
    .categories-name{
        font-size: 12px;
        font-family: 'Righteous', sans-serif;
    }
    .todayspecial-intro{
        font-family: 'Righteous', sans-serif;
        font-size: 20px;
    }
    .todays-result{
        width: 100%;
        padding: 20px 25px;
        display: flex;
        flex-wrap: wrap;
    }
    .today-box{
        height: 140px;
        overflow: hidden;
        width: 150px;
    }
    .today-offers{
        margin: 0;
        height: 60px;
        width: 60px;
        margin-top: -90px;
    }
    .discount-num{
        font-size: 24px;
        margin-left: -5px;
    }
    .discount-percentage{
        font-size: 20px;
    }
    .discount-off{
        font-size: 12px;
        margin-top: 20px;
        margin-left: -15px;
        position: absolute;
    }
    .HomefoodName{
        font-size: 18px;
        padding-left: 8px;
        margin-top: 0px;
    }
    .special-remaining{
        font-family: 'Righteous', sans-serif;
        font-size: 14px;
        margin-left: 0;
        width: 130px;
        margin-top:7px;
        height: 30px;
    }


    /* 24/7 restaurant */
    .alltime-open-intro{
        font-family: 'Righteous', sans-serif;
        font-size: 20px;
    }
    .alltime-res-box{
        height: 100px;
        width: 100px;
    }
    .alltime-res{
        gap: 10px;
    }
    .alltime-res-img{
        height: 18px;
        width: 18px;
    }

    /* about us */
    .About-us{
        margin: 0;
        padding: 30px 0;
    }
    .About-us-head{
        font-size: 28px;

    }
    .about-us-description{
        font-size: 14px;
    }
    .about-us-img{
        height: 210px;
    }

    /* install out app */
    .installation-box{
        width: 350px;
        height: 100px;
        margin: 35px 0;
    }
    .install-app{
        display: block;
        margin-top: -40px;
    }
    .mbl-app{
        margin: 0;
    }
    .i-discount-img{
        height: 35px;
        padding: 0;
        margin-left: 10px;
    }
    .livetracking{
        height: 35px;
        margin-left:-10px;
    }
    .i-discount-des{
        font-size: 14px;
    }
    .mbl-app{
        height: 300px;
        width: 100%;
    }
    .fordesktop-view{
        display: none;
    }
    .formobileview{
        display: block;
    }
    .install-app-msg{
        margin: 25px 0;
    }

    /* register restaurant */
    .list-restaur{
        padding:20px 20px;
    }
    .list-restaur p{
        font-size: 22px;
    }
    .list-restaur button{
        margin-left: 140px;
    }
}
