/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.xittoofood{
    font-weight: bolder;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: thin;
}

.AddRes{
    font-weight: bolder;
}
.hambergur{
    display: none;
}

/* Home  */
.slidebar{
    overflow-x: scroll;
    scrollbar-width: none;
}
.question {
    font-size: 55px;
    font-family: 'Righteous', sans-serif;
  }
  
.popularitem {
    font-family: 'Righteous', sans-serif;
}

.HomefoodName {
    font-family: 'Righteous', sans-serif;
}
.OfferTime {
    font-family: 'Righteous', sans-serif;
}
.AboutDes{
    font-family: 'righteous',sans-serif;
}
/* restaurant view */
.restaurantName{
    font-weight: bolder;
}

.foodstyle{
    font-weight: bold;
}



/* menu */
.totalamount{
    font-weight: 500;
}

/* responsive  */

@media (max-width: 768px) {

    .headertag{
        width: 100%;
        height: 65px;
        padding-top: 10px;
    }
    .xittoLogo{
        position: relative;
        height: 35px;
        width: 35px;
    }
    .xittoofood{
        font-size: 20px;
        margin-left: -10px;
    }
    .icon-button{
        position: relative;
        display: flex;
        gap: 12px;
    }
    .AddRes{
        display: none;
    }
    .profile-icon{
        margin-right: 0;
    }
    .allsection{
        display: flex;
        gap: 0;
        margin-left: 0;
    }
    .hambergur{
        position: relative;
        font-size: 24px;
        display: block;
        margin: 5px 8px 0 12px;
        padding-top: 6px;
        width: 90px;
        background: transparent;
        border: 1px solid #D5D2D2;
        border-radius: 5px;
    }
    .description{
        display: none;
    }

    .logosection{
        display: flex;
    }


    /* homepage */
    .search-food{
        /* margin: 10px 0px 0px 250px; */
    }
    .question{
        position: relative;
        font-size: 32px;
        margin-top: 50px;
        margin-left: 130px;
    }
    .search-box{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 120px;
    }

}